.comment-section-container{
    >div{
        margin: 0 3em;
    }
}

.comment-section{
    display: flex;
    height: auto;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 20px;
    margin-bottom: 1em;

    & > div:first-child {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 200px;
        height: 100%;
        padding: 0.8em 1em;
        overflow: hidden;

        & > img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-top: 1em;
        }

        & > span{
            font-size: 13px;
        }

        & > div{
            position: absolute;
            bottom: 85%;
            height: auto;

            & >span{
                margin-right: 2em;
            }

            & > svg{
                margin-top: 0.5em;
                fill: #f0bb26
            }
        }
        
    }

    & > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-right: 1em;

        & > p{
            margin-top: 1em;
            font-size: 15px;
        }
    }
}

.clients-rating{
    margin: 0 1em 1em 1em;

    > svg {
        width: 25px !important;
        height: 25px !important;
        fill: #f0bb26
    }

    > span{
        margin-left: 0.5em;
    }
}

.rating-section{
    /* padding: 0 7em 0 0; */
}

.comments-likes{
    position: static;
    bottom: 0;
    > div {
        cursor: pointer;
    }
}

@media (min-width: 340px) and (max-width: 1365px) {
    .comment-section-container{ 
        display: flex;
        flex-direction: column;
        >div{
            margin: 0 !important; 
        } 

    }

    .comment-section{
        width: 100%;
        height: auto;
    }

    .comments-form{
        >span{
            font-size: 0.79rem;
        }
    }
    
}