html, body{
    height:100%;
}

.login{
    background-color: #000;
    height: 900px;
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

.logo-login{
    display: flex;
    align-items: center;
}

.logo-login > img:first-child{
    width: 100%;
    max-height: 160%;
    overflow: hidden;
    position: relative; 
}

.logo-login >svg{ 
    position: absolute;
    left: 0;
    width: 30%;
    margin-left: 10%;
}


.login-form{
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

.login-button{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.login-button > div > button{
    border-radius: 20px;
    width: 50%;
}

.login-button > div {
   
    width: 50%;
}

.or-section{
    margin: 0.3em 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
}

.or-section > div:first-child, .or-section > div:last-child{
    height: 0.1em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #000000;
}

.register-here{
    color: rgb(64, 137, 233);
    cursor: pointer;
}

.login-form-section{
    display: flex;
    background-color: #eceaea;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}


.form-group > input{
    border-radius: 10px;
}

.products {
    display:flex;
    width: 100px;
    position: relative;
    animation: sidetoside 5.5s linear infinite;
    margin-bottom: 0.5em;
}

.logo-gif{
    display: none;
}
  
@keyframes sidetoside {
    0%, 100% {
      left: 0%;
    }
    50% {
      left: calc(85% - 50px);
    }
}

@media (min-width: 340px) and (max-width: 1365px) {

    .login{
        display: grid;
        padding: 0;
        align-items: start;
    }

    .logo-login{
        display: none
    }

    .login-form-section{
        width: 100%;
        background-color: #000000;
        padding-top: 0 !important;
    }

    .login-button > div {
        width: 70%;
       
    }

    .login-button > div > button{
        font-size: 12px;
        width: 17em;
    }

    .login-button > div:first-child > button{
        background-color: aliceblue !important;
        color: black;
    }

     .login-button > div:last-child {
        color: #fff;
    }

    /* .navbar-container{
        display:none;
    } 
 
    footer{
        display: none;
    } */

    .home-login{
        display: inline !important;
    }
    .home-login > svg{
        margin-top: 1em;
    }


    .login-form{
        margin-bottom: 2em;
        width: 90%;
        justify-content: unset;
    }

    .products{
        display:none
    }

    .login-form > div > img{
        color: white
    }

    @keyframes fly {
        0%, 100% {
          left: 0%;
        }
        50% {
          left: calc(80% - 50px);
        }
    }

    .logo-gif{
        display: contents;
        margin-bottom: 50em;
    }

    .logo-gif > img{
        width: 100% !important;
    }

    .or-section { 
      color: white;
      > div{
        background-color: #fff !important;
        height: 1em;
      }
    }
    
    .submit-register > button{
        background-color: #fff;
        color: #000;
    }

    .register-form > div:last-child{
        color: #fff;
    }
}

.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
  

.register-button{
    background-color: #000 !important;
}

.register-button:hover{
    background-color: #525252 !important;
}

@media (min-width: 340px) and (max-width: 1365px) {

    .register-button{
        background-color: #FFF !important;
        padding: 2em !important;
    }
}