.whatsapp-bubble{
    position: fixed;
    z-index: 100;
    right: 3%;
    bottom: 6%;
    padding: 1em;
    background-color: #40C351;
    border-radius: 50%;
    > svg{
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 350px) and (max-width:1365px){
    .whatsapp-bubble{
    
        padding: 0.5em;
        > svg{
            height: 30px;
            width: 30px;
        }
    }
    
}