

.not-found {
  width: 560px;
  height: 225px;
  margin-right: -10px;
}
.starry-sky {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.notfound-copy {
  color: #fff;
  position: fixed;
  top: 25px;
  right: 10%;
  text-align: right;
}


/* change to alternating star opacities */
.all-stars {
  animation: blinkblink 7s linear infinite;
}

@keyframes blinkblink {  
  50% { opacity: 0.1; }
}

.moon{
  position: fixed;
  top: 20%;
  left: 20%;
  transform: translate(18%, -29%);
  animation: jump 7s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(700px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}


input[type=text]:focus {
  border-color:none; 
  border-bottom:2px solid #ccc;
}

@media screen and (max-width: 1024px) {
  .moon{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    animation: none;
  }
}

@media (max-width: 647px) { 
  .moon {
    position: relative;
    padding-top: -500px;
  }
}